<% layout('layout') -%>

	<div class="container">
    	<div class="row">
    		<div class="col-md-2">
				<div class="row">
					<h4>Files to convert</h4>
					<div class="btn-group-vertical">
					<% files.forEach( function( file ){ %>
						<button type="button" class="btn btn-default convert" name="<%= file %>"><%= file %></button>
					<% }); %>
					</div>
				</div>
				
				<div class="row">
					<h4>Available Data</h4>
					<div class="btn-group-vertical">
					<% chartDocuments.forEach( function( chartDocument ){ %>		
						<button type="button" class="btn btn-default chart" name="<%= chartDocument.name %>"><%= chartDocument.name %></button>
					<% }); %>
					</div>					
				</div>
			</div>
			<div class="col-md-10">
				<div id="container" style="height: 1000px; margin: 0 auto"></div>
			</div>
		</div>
		<div class="row">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group">
					<button type="button" class="btn btn-default x">Hide - X</button>
					<button type="button" class="btn btn-default y">Hide - Y</button>					
					<button type="button" class="btn btn-default z">Hide - Z</button>					
				</div>
			</div>
		</div>
	</div>
	

	
