<% layout('layout') -%>

<div class="container">
	<div class="row">
  	<div id="sideMenu" class="col-md-2">
			<%- include /partials/side-menu.ejs %>
		</div>
		<div class="col-md-10">
			<div id="container" style="width: 3000px; height: 1000px; margin: 0 auto"></div>
		</div>
	</div>
</div>
