<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>untitled</title>
		<meta name="generator" content="TextMate http://macromates.com/">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
		
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
		
		<meta name="author" content="justin siddon">
		<!-- Date: 2014-03-06 -->
		
	</head>

	<body>		
		<div class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	          		</button>
					<a class="navbar-brand" href="#">Project name</a>
	        	</div>
	        	<div class="navbar-collapse collapse">
	          		<ul class="nav navbar-nav navbar-right">
	            		<li><a href="#">Dashboard</a></li>
	            		<li><a href="#">Settings</a></li>
	            		<li><a href="#">Profile</a></li>
	            		<li><a href="#">Help</a></li>
	          		</ul>
	          		<form class="navbar-form navbar-right">
	            		<input type="text" class="form-control" placeholder="Search...">
	          		</form>
	        	</div>
			</div> <!-- container-fluid -->
	    </div><!-- navbar -->
    <%-body -%>

	<footer>
		<%-blocks.footer%>
	</footer>
	
    <script src="/bootstrap/js/bootstrap.js"></script>
	<script src="/bootstrap/js/offcanvas.js"></script>
	
	</body>
</html>
