<% layout('layout') -%>

<div class="container">

  <div class="row">
    <div id="sideMenu" class="col-md-2">
      <%- include /partials/side-menu.ejs %>
    </div>
    <div class="col-md-10">
      <button type="button" onclick="redraw()">redraw</button>
      <button type="button" onclick="drawSomeText()">TEST</button>
      <canvas id="working_tilt_V4" data-processing-sources="processing/working_tilt_V4/working_tilt_V4.pde" style="width: 1000px; height: 1000px; margin: 0 auto">
      </canvas>
    </div>
  </div>

  <div class="row">
    <button type="button" onclick="drawSomeText('working_tilt_V4')">click</button>
  </div>

</div>


<script type="text/javascript">

  function drawSomeText(id) {
    var pjs = Processing.getInstanceById('working_tilt_V4');
    console.log("id: " + id);
    //var pjs = Processing.getInstanceById(id);
    console.log("pjs: " + pjs);
    var num = 340;
    pjs.drawText();
  }

  function redraw(data) {
    var pjs = Processing.getInstanceById('working_tilt_V4');
    /*
    var data = { 'points' : [ {'x': 10 , 'y': 10},
               {'x': 190 , 'y': 10},
               {'x': 190 , 'y': 190},
               {'x': 10, 'y': 190} ] }
    */
    //var pjs = Processing.getInstanceById('working_tilt_V4');
    console.log(data.length);
    //console.log(data.reading);
    /*for(var i = 0; i > data.length; i++) {
      var point = data[i];
      console.log(point);
      //var testData = 1.09;
      //pjs.newFunc(testData);


      //console.log('x: ' + point.x + ', y: ' + point.y);

    }*/


  }
</script>

<script src="/javascripts/render.js" />
